{{!-- set pin for mobile --}}
<div class="set-pin-mobile-popup mobile-only">
    <p class="impo">Set pin</p>
    <div class="pin-form-cont">
        <form action="#" method="post">
            <label for="pinOutPut" hidden></label>
            <input type="password" name="pin" id="pinOutPut" class="pin_output_display" placeholder="Enter a 4 digit pin e.g 0000">
            <div class="pin_numbers">
                <div class="pin-row-numbers-flex">
                    <div class="numbers">
                        <p class="number">1</p>
                    </div>
                    <div class="numbers">
                        <p class="number">2</p>
                    </div>
                    <div class="numbers">
                        <p class="number">3</p>
                    </div>
                </div>
                <div class="pin-row-numbers-flex">
                    <div class="numbers">
                        <p class="number">4</p>
                    </div>
                    <div class="numbers">
                        <p class="number">5</p>
                    </div>
                    <div class="numbers">
                        <p class="number">6</p>
                    </div>
                </div>
                <div class="pin-row-numbers-flex">
                    <div class="numbers">
                        <p class="number">7</p>
                    </div>
                    <div class="numbers">
                        <p class="number">8</p>
                    </div>
                    <div class="numbers">
                        <p class="number">9</p>
                    </div>
                </div>
                <div class="pin-row-numbers-flex">
                    <div class="numbers">
                        <p class="number">0</p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>