{{!-- set pin for mobile --}}
<div class="set-pin-mobile-popup mobile-only">
    <p class="impo">Set pin</p>
    <div class="pin-form-cont">
        <form action="#" method="post">
            <label for="pinOutPut" hidden></label>
            <input type="password" name="pin" id="pinOutPut" class="pin_output_display" placeholder="Enter a 4 digit pin e.g 0000">
            <div class="pin_numbers">
                <div class="pin-row-numbers-flex">
                    <div class="numbers">
                        <button class="number" type="button">1</button>
                    </div>
                    <div class="numbers">
                        <button class="number" type="button">2</button>
                    </div>
                    <div class="numbers">
                        <button class="number" type="button">3</button>
                    </div>
                </div>
                <div class="pin-row-numbers-flex">
                    <div class="numbers">
                        <button type="button" class="number">4</button>
                    </div>
                    <div class="numbers">
                        <button class="number" type="button">5</button>
                    </div>
                    <div class="numbers">
                        <button class="number" type="button">6</button>
                    </div>
                </div>
                <div class="pin-row-numbers-flex">
                    <div class="numbers">
                        <button class="number" type="button">7</button>
                    </div>
                    <div class="numbers">
                        <button class="number" type="button">8</button>
                    </div>
                    <div class="numbers">
                        <button class="number" type="button">9</button>
                    </div>
                </div>
                <div class="pin-row-numbers-flex">
                    <div class="numbers">
                        <button class="number" type="button">00</button>
                    </div>
                    <div class="numbers">
                        <button class="number" type="button">0</button>
                    </div>
                    <div class="numbers">
                        <button class="back_key clear_field" type="button"><</button>
                    </div>
                </div>
            </div>
            <div class="submit_btn_wrap">
                <button type="submit" class="submit_pin">Set pin</button>
            </div>
        </form>
    </div>
</div>