<!DOCTYPE html>
<html lang="en-US" prefix="og: https://ogp.me/ns#">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Send money around the world to anyone, anywhere, anytime with paysnap demo">
    <meta name="keywords" content="paysnap, biggaji, Tobi Ajibade, payment, demo payment, transactions, send money">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="shortcut icon" href="/assets/favicon.svg" type="image/x-icon">

    {{!-- Open tag code --}}
    <meta property="og:title" content="Paysnap"> 
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://paysnap.herokuapp.com/">
    <meta property="og:image" content="https://res.cloudinary.com/dahn8uiyc/image/upload/v1631197514/paysnap/logo.png">
    <meta property="og:description" content="Paysnap is a demo payment service that allows you to send money to anyone, anywhere, anytime">
    <meta property="og:site_name" content="Paysnap">
    <meta property="og:locale" content="en_US">


    {{!-- Twitter cards--}}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@bigg_aji">
    <meta name="twitter:author" content="@bigg_aji">

</head>

<body>
    <noscript>Please enable javascript in this browser to be able to view this page.</noscript>
    {{{body}}}
    {{>footer}}
    <script src="scripts/main.js"></script>
</body>

</html>