<div class="paysnap-container">
    <div class="logo-container">
        <a href="/" class="site-logo">
            <img src="/assets/logo.svg" alt="paysnap logo" class="logo">
        </a>
    </div>
    <div class="form-container">
        <div id="form_feedback"></div>
        <div class="form-copy-wrap">
            <h1 class="form-copy">Account activation</h1>
        </div>
        <div class="twister-box">
            <p class="twister-text">We just sent your activation code via email to {{hashedEmail}}.</p>
            <p class="twister-text">The code expires in : <strong id="countDownUI"></strong> .</p>
        </div>
        <div class="form-wrapper">
                {{#if server_error_msg}}
            <div id="server_error_wrapper">
                <small id="server_error_msg">{{server_error_msg}}</small>
            </div>
                {{/if}}
            <div id="client_error_wrapper">
                <small id="client_error_msg"></small>
            </div>
            <div id="client_success_wrapper">
                <small id="client_success_msg"></small> <span id="closeBtn">+</span>
            </div>
            <form action="/activate" method="POST" class="activate" id="activate">
                <div class="fin-wrap">
                    <label for="tks">Activation code</label><br>
                    <input type="text" class="fin-wrap-input" name="code"
                        id="tks">
                </div>
                <div class="fbtn-wrap">
                    <button class="fbtn-wrap-btn" id="fbtn_submit" type="submit">Activate account <svg class="arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"
                        width="16" height="16">
                        <path fill-rule="evenodd"
                            d="M6.22 3.22a.75.75 0 011.06 0l4.25 4.25a.75.75 0 010 1.06l-4.25 4.25a.75.75 0 01-1.06-1.06L9.94 8 6.22 4.28a.75.75 0 010-1.06z">
                        </path>
                    </svg></button>
                </div>
            </form>
        </div>
        <div class="resend_code_box">
            <a class="resend_code_trigger" id="resend_code_trigger">Re-send code</a>
        </div>
    </div>
</div>

<script src="scripts/formValidator.js" async></script>
<script src="/scripts/codeExpiryTimeCountDown.js" async></script>
<script src="/scripts/resendActivationCode.js" async></script>