<section class="paytr_activate_container">
    <form action="/activate" method="post">
        <div class="paytr_form_wrapper">
            <label for="verify">Enter the token sent to your email address <span
                    class="paytr_hash_mail">{{hashedEmail}}</span></label><br>
            <input type="text" name="activate_k" id="verify" maxlength="6">
        </div>
        <div class="paytr_form_wrapper">
            <input type="hidden" name="csrf_token" value="">
        </div>
    </form>
    <div class="cta_user">
        <form action="/resend_activate" method="post">
            <div class="paytr_form_wrapper">
                <input type="hidden" name="csrf_token" value="">
            </div>
            <div class="paytr_form_wrapper">
                <label for="pwd">Didn't get token?</label><br>
                <button type="submit">Resend</button>
            </div>
        </form>
    </div>
</section>