<div class="paysnap-container">
    <div class="logo-container">
        <h1>Paysnap</h1>
    </div>
    <div class="form-copy-wrap">
        <h1 class="form-copy">Activate your account</h1>
    </div>
    <div class="twister-box">
        <p>Check your email address</p>
    </div>
    <div class="form-wrapper">
        <div class="form-flash-message-wrap"></div>
        <form action="#" method="POST" class="activate">
            <div class="fin-wrap">
                <label for="tks">Token</label><br>
                <input type="text" class="fin-wrap-input" name="token"
                    id="tks">
            </div>
            <div class="fbtn-wrap">
                <button class="fbtn-wrap-btn" type="button">Activate account</button>
            </div>
        </form>
    </div>
</div>