<div class="paysnap-container">
    <div class="logo-container">
        <a href="/" class="site-logo">
            <img src="/assets/logo.svg" alt="paysnap logo" class="logo">
        </a>
    </div>
    <div class="form-container">
        <div id="form_feedback"></div>
        <div class="form-copy-wrap">
            <h1 class="form-copy">Account activation</h1>
        </div>
        <div class="twister-box">
            <p class="twister-text">We just sent your activation code via email to {{hashedEmail}}.</p>
            <p class="twister-text">The code expires in : <strong id="countDownUI"></strong> .</p>
        </div>
        <div class="form-wrapper">
            <div class="form-flash-message-wrap"></div>
            <form action="/activate" method="POST" class="activate">
                <div class="fin-wrap">
                    <label for="tks">Actiavtion code</label><br>
                    <input type="text" class="fin-wrap-input" name="code"
                        id="tks">
                </div>
                <div class="fbtn-wrap">
                    <button class="fbtn-wrap-btn" id="fbtn_submit" type="submit">Activate account <svg class="arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"
                        width="16" height="16">
                        <path fill-rule="evenodd"
                            d="M6.22 3.22a.75.75 0 011.06 0l4.25 4.25a.75.75 0 010 1.06l-4.25 4.25a.75.75 0 01-1.06-1.06L9.94 8 6.22 4.28a.75.75 0 010-1.06z">
                        </path>
                    </svg></button>
                </div>
            </form>
        </div>
        <div class="resend_code_box">
            <a href="#" class="resend_code_trigger">Re-send code</a>
        </div>
    </div>
</div>


{{!-- cancel button --}}

{{!-- <svg xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px"
    y="0px" viewBox="0 0 341.751 341.751"
    style="enable-background:new 0 0 341.751 341.751;" xml:space="preserve">
    <g>
        <g>

            <rect x="-49.415" y="149.542"
                transform="matrix(0.7072 -0.707 0.707 0.7072 -70.7868 170.8326)"
                width="440.528" height="42.667" />
        </g>
    </g>
    <g>
        <g>

            <rect x="149.569" y="-49.388"
                transform="matrix(0.707 -0.7072 0.7072 0.707 -70.7712 170.919)"
                width="42.667" height="440.528" />
        </g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
</svg> --}}