<div class="global-container">
    <div class="welcome-box">
        <p id="greeting_text_UI"></p>
        <p class="username-display">{{dashboardData.username}}</p>
    </div>
    <div class="activity_section">
        {{!-- show account balance --}}
        <div class="account_summary">
            <p class="account_balance">${{dashboardData.accountbalance}}</p>
        </div>
        {{!-- check if user has set pin --}}
        {{#if hasSetPin}} 
            <p>User has set pin</p>
            {{  else}}
            <p>Please set your pin</p>
            {{!-- create a pin dialog looks like phone call app --}}
        {{/if}}
    </div>
    <a href="/exit">Logout</a>

    {{> mobile_dashboard}}  
</div>  
<script src="/scripts/daySwitchGreeter.js" async></script>