<div class="global-container">
    <div class="welcome-box">
        <p id="greeting_text_UI"></p>
        <p class="username-display">{{dashboardData.username}}</p>
    </div>
    <div class="activity_section">
        <div class="page_title mobile-only">
            <p class="title">{{pagetitle}}</p>
        </div>
        <div class="site_wide_msg">
            <div class="error_msg_container">
                <p class="error_msg"></p>
            </div>
        </div>
        {{!-- show account balance --}}
        <div class="account_summary">
            <p class="account_balance">Account balance: ${{dashboardData.accountbalance}}</p>
        </div>
        {{!-- check if user has set pin --}}
        {{#if hasSetPin}} 
            <p>User has set pin</p>
            {{  else}}
            <p>Please set your pin</p>
            <button>Set pin</button>
            {{!-- create a pin dialog looks like phone call app --}}
            {{> setup_pin}}
        {{/if}}
    </div>
    <a href="/exit">Logout</a>

    {{> mobile_dashboard}}  
</div>  
<script src="/scripts/dashboard_controller.js" async></script>
<script src="/scripts/daySwitchGreeter.js" async></script>