<div class="global-container">
    <div class="welcome-box">
    <p id="greeting_text_UI"></p>
     <p class="username-display">{{dashboardData.username}}</p>
    </div>
{{> mobile_dashboard}}
<script src="/scripts/daySwitchGreeter.js" async></script>