<section class="paytr_container">
    {{#if site_wide_message}}
    <div class="site_message_box">
        <p class="site_message">{{site_wide_message}}</p>
    </div>
    {{/if}}
    <section class="paytr_intro_container">
        <div class="paytr_hero_banner">
            <h1 class="hero_1">Transfer and receive money with anyone, anywhere in seconds</h1>
            <h1 class="hero_2"> using your <span class="paytr_username">@paytr-username</span></h1>
        </div>
        <div class="paytr_cta_banner">
            <a href="/create_account" class="paytr_cta_link">Get Started</a>
        </div>
    </section>
    <section class="follow_up">
        {{!-- follow up cta --}}
    </section>
</section>