<div class="paysnap-container">
    <div class="hero-wrapper">
        <div class="hero-copy-wrapper">
            <h1 class="hero-copy">
                Send money to anyone, anywhere, anytime in seconds
            </h1>
        </div>
        <div class="hero-cta">
            <a href="/signup" class="hero-cta-link">Get started</a>
        </div>
    </div>
</div>