<div class="paysnap-container">
    <div class="logo-container">
        <a href="/" class="site-logo">
        <img src="/assets/logo.svg" alt="paysnap logo" class="logo" loading = "lazy">
        </a>
    </div>
    <div class="hero-wrapper">
        <div class="hero-copy-wrapper">
            <h1 class="hero-copy">
                Send money around the world to anyone, anywhere, anytime
            </h1>
            <p class="hero-intro-copy">Use paysnap to pay friends, family, business partners and your colleague's using their paysnap username.</p>
        </div>
        <div class="hero-cta">
            <a href="/signup" class="hero-cta-link"><b>Get started</b><svg class="arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16"
                height="16">
                <path fill-rule="evenodd"
                    d="M6.22 3.22a.75.75 0 011.06 0l4.25 4.25a.75.75 0 010 1.06l-4.25 4.25a.75.75 0 01-1.06-1.06L9.94 8 6.22 4.28a.75.75 0 010-1.06z">
                </path>
            </svg></a>
        </div>
    </div>
</div>