<div class="paysnap-container">
    <div class="hero-wrapper">
        <div class="hero-copy-wrapper">
            <h1 class="hero-copy">
                Send money around the world<br> to anyone, anywhere, anytime
            </h1>
        </div>
        <div class="hero-cta">
            <a href="/signup" class="hero-cta-link"><b>Get started</b></a>
        </div>
    </div>
</div>