<div class="paysnap-container">
    <div class="logo-container">
        <h1>Paysnap</h1>
    </div>
    <div class="form-copy-wrap">
        <h1 class="form-copy" >Sign in to your account</h1>
    </div>

    <div class="form-wrapper">
        <div class="form-flash-message-wrap"></div>
        <form action="#" method="POST" class="signin">
            <div class="fin-wrap">
                <label for="username">Username</label><br>
                <input type="text" class="fin-wrap-input" name="username"
                    id="username">
            </div>
            <div class="fin-wrap">
                <div class="pwd-wrap">
                <label for="pwd">Password</label><br>
                <a href ="#" class="fgp">Forgot password?</a>
                </div>
                <input type="password" class="fin-wrap-input" name="password"
                    id="pwd">
            </div>
            <div class="fbtn-wrap">
                <button class="fbtn-wrap-btn" type="button">Sign in</button>
            </div>
        </form>
    </div>
    <div class="twister-box">
        <p class="twister-text">Don't have an account? <a href="/signup"
                class="twister-link">Create account.</a></p>
    </div>
</div>