<div class="paysnap-container">
    <div class="logo-container">
        <a href="/" class="site-logo">
            <img src="/assets/logo.svg" alt="paysnap logo" class="logo">
        </a>
    </div>
    <div class="form-container">
        <div class="form-copy-wrap">
            <h1 class="form-copy" >Sign in</h1>
        </div>

        <div class="form-wrapper">
                {{#if server_error_msg}}
            <div id="server_error_wrapper">
                <small id="server_error_msg">{{server_error_msg}}</small>
            </div>
                {{/if}}
            <div id="client_error_wrapper">
                <small id="client_error_msg">Some error</small>
            </div>
            <form action="/signin" method="POST" class="signin">
                <div class="fin-wrap">
                    <label for="username">Username</label><br>
                    <input type="text" class="fin-wrap-input" name="username"
                        id="username">
                </div>
                <div class="fin-wrap">
                    <div class="pwd-wrap">
                    <label for="pwd">Password</label><br>
                    <a href ="#" class="fgp">Forgot password?</a>
                    </div>
                    <input type="password" class="fin-wrap-input" name="password"
                        id="pwd">
                </div>
                <div class="fbtn-wrap">
                    <button class="fbtn-wrap-btn" id="fbtn_submit" type="submit">Sign in <svg class="arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"
                        width="16" height="16">
                        <path fill-rule="evenodd"
                            d="M6.22 3.22a.75.75 0 011.06 0l4.25 4.25a.75.75 0 010 1.06l-4.25 4.25a.75.75 0 01-1.06-1.06L9.94 8 6.22 4.28a.75.75 0 010-1.06z">
                        </path>
                    </svg></button>
                </div>
            </form>
        </div>
        <div class="twister-box">
            <p class="twister-text">Don't have an account? <a href="/signup"
                    class="twister-link">Create account.</a></p>
        </div>
    </div>
</div>

<script src="scripts/formValidator.js"></script>