<div class="paysnap-container">
    <div class="logo-container">
    <a href="/" class="site-logo">
        <img src="/assets/logo.svg" alt="paysnap logo" class="logo">
    </a>
    </div>
    <div class="form-container">
        <div class="form-copy-wrap">
            <h1 class="form-copy">Sign up</h1>
        </div>
        <div class="intro-note">
            <p>Create an account with Paysnap to test the demo payment service.</p>
        </div>
        <div class="form-wrapper">
            <div class="form-flash-message-wrap" id="fields_required_err_msg"></div>
            <form action="/signup" method="POST" class="signup" id="signup">
                <div class="fin-wrap">
                    <label for="mail">Email</label><br>
                    <input type="email" class="fin-wrap-input" name="email" id="mail">
                    <small id="emailErrMsg"></small>
                </div>
                <div class="fin-wrap">
                    <label for="full_name">Full name</label><br>
                    <input type="text" class="fin-wrap-input" name="email" id="full_name">
                </div>
                <div class="fin-wrap">
                    <label for="username">Username</label><br>
                    <input type="text" class="fin-wrap-input" name="username" id="username">
                    <small id="usernameErrMsg">Username already exist</small>
                </div>
                <div class="fin-wrap">
                    <label for="country">Country</label><br>
                    <input type="text" class="fin-wrap-input" name="country" id="country">
                </div>
                <div class="fin-wrap">
                    <label for="pwd">Password</label><br>
                    <input type="password" class="fin-wrap-input" name="password" id="pwd">
                    <small id="pwdErrMsg"></small>
                </div>
                <div class="fbtn-wrap">
                    <button class="fbtn-wrap-btn" id="fbtn_submit_signup" type="submit">Create account <svg class="arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"
                        width="16" height="16">
                        <path fill-rule="evenodd"
                            d="M6.22 3.22a.75.75 0 011.06 0l4.25 4.25a.75.75 0 010 1.06l-4.25 4.25a.75.75 0 01-1.06-1.06L9.94 8 6.22 4.28a.75.75 0 010-1.06z">
                        </path>
                    </svg></button>
                </div>
            </form>
        </div>
        <div class="twister-box">
            <p class="twister-text">Already have an account? <a href="/signin" class="twister-link">Sign in.</a></p>
        </div>
    </div>
</div>