<div class="paysnap-container">
    <div class="logo-container">
    <a href="/" class="site-logo">
        <img src="/assets/logo.svg" alt="paysnap logo" class="logo">
    </a>
    </div>
    <div class="form-copy-wrap">
        <h1 class="form-copy">Create your account</h1>
    </div>
    <div class="critical-note">
        <p>Your data is safe</p>
    </div>
    <div class="form-wrapper">
        <div class="form-flash-message-wrap"></div>
        <form action="#" method="POST" class="signup">
            <div class="fin-wrap">
                <label for="mail">Email</label><br>
                <input type="email" class="fin-wrap-input" name="email" id="mail">
            </div>
            <div class="fin-wrap">
                <label for="full_name">Full name</label><br>
                <input type="text" class="fin-wrap-input" name="email" id="full_name">
            </div>
            <div class="fin-wrap">
                <label for="username">Username</label><br>
                <input type="text" class="fin-wrap-input" name="username" id="username">
            </div>
            <div class="fin-wrap">
                <label for="country">Country</label><br>
                <input type="text" class="fin-wrap-input" name="country" id="country">
            </div>
            <div class="fin-wrap">
                <label for="pwd">Password</label><br>
                <input type="password" class="fin-wrap-input" name="password" id="pwd">
            </div>
            <div class="fbtn-wrap">
                <button class="fbtn-wrap-btn" type="button">Create account</button>
            </div>
        </form>
    </div>
    <div class="twister-box">
        <p class="twister-text">Already have an account? <a href="/signin" class="twister-link">Sign in.</a></p>
    </div>
</div>