*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*::after, *::before {
    box-sizing: border-box;
}


// mobile first layout
// global variables

@font-face {
    font-family: "SF Mono";
    src: url(fonts/SFPro-Regular.ttf);
    font-style: normal;
}
@font-face {
    font-family: "SF Pro";
    src: url(fonts/SFMono-Regular.ttf);
    font-style: normal;
}

$font-mono: "SF Mono";
$font-pro: "SF Pro";

// end of global variables

body {
    width: 100%;
    padding: 0 10%;
    font-family: $font-pro;
}

.paytr_container {
    width: 100%;
    height: auto;
    margin:  {
        top: 1rem;
        bottom: 0.7rem;
    };
    .paytr_intro_container {
        width: 100%;
        height: auto;
        .paytr_hero_banner {
            .hero_1 {
                font: {
                    size: 1.6rem;
                }
                line-height: 1.4;
                // text-align: center;
                }
            }
            .hero_2 {
                font: {
                    size: 1.3rem;
                }
                margin-top : 0.5rem;
                line-height: 1.4;
                .paytr_username {
                    color: royalblue;
                    font: {
                        weight: 900;
                    }
            }
        }
        .paytr_cta_banner {
            margin: {
                top: 1rem;
            }
            .paytr_cta_link {
                text-decoration: none;
                font: {
                    size: 1.3rem;
                }
                padding: 1.5rem 2rem;
                display: block;
                text-align: center;
                color: #fff;
                background-color: royalblue;
            }
        }
    }
}
.page-not-found {
    text-align:center;
}

// desktop layout

@media screen and (min-width: 544px) {
    // medium screen sizes here
    // sm
}

@media screen and (min-width: 768px) {
    // larger screen sizes here
    // md
}

@media screen and (min-width: 1012px) {
    // larger screen sizes here
    // lg
}

@media screen and (min-width: 1280px) {
    // larger screen sizes here
    // xl   
}