@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
}

.paysnap-container {
  width: 100%;
  padding: 0 10%;
  height: auto;
}

@font-face {
  font-family: "future";
  src: url(../fonts/future.woff2) format("woff2-variations");
  font-display: block;
  font-weight: 1 1000;
  unicode-range: U+0000-007e;
}

.logo-container {
  padding: 0.5rem 0;
}

.logo-container .logo {
  width: 100px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.hero-wrapper {
  width: 100%;
  height: auto;
}

.hero-wrapper .hero-copy-wrapper .hero-copy {
  color: #1C1E21;
  line-height: 0/8;
  font-size: 1.9rem;
  font-family: Arial;
  letter-spacing: 0.02rem;
}

.hero-wrapper .hero-copy-wrapper .hero-intro-copy {
  margin: 0.7rem 0;
  font-size: 1rem;
  font-family: Arial;
  line-height: 1.4;
  letter-spacing: 0.02rem;
  color: #425466;
}

.hero-wrapper .hero-cta {
  margin: 1rem 0;
}

.hero-wrapper .hero-cta .hero-cta-link {
  color: #fff;
  line-height: 1.4;
  background-color: #7670f7;
  padding: 0.5rem 1rem;
  font-size: 0.85rem;
  text-decoration: none;
  letter-spacing: 0.02rem;
  font-family: Arial;
  border-radius: 70px;
}

.form-copy-wrap .form-copy {
  line-height: 1.4;
  color: #0A2450;
  font-size: 1.375rem;
}

.critical-note {
  line-height: 1.4;
}

.form-wrapper .signup .fin-wrap, .form-wrapper .signin .fin-wrap, .form-wrapper .activate .fin-wrap {
  width: 100%;
  margin: 0.675rem 0;
}

.form-wrapper .signup .fin-wrap label, .form-wrapper .signin .fin-wrap label, .form-wrapper .activate .fin-wrap label {
  font-size: 0.875rem;
}

.form-wrapper .signup .fin-wrap .pwd-wrap, .form-wrapper .signin .fin-wrap .pwd-wrap, .form-wrapper .activate .fin-wrap .pwd-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-wrapper .signup .fin-wrap .pwd-wrap .fgp, .form-wrapper .signin .fin-wrap .pwd-wrap .fgp, .form-wrapper .activate .fin-wrap .pwd-wrap .fgp {
  font-size: 0.875rem;
  text-decoration: none;
}

.form-wrapper .signup .fin-wrap .fin-wrap-input, .form-wrapper .signin .fin-wrap .fin-wrap-input, .form-wrapper .activate .fin-wrap .fin-wrap-input {
  width: 100%;
  margin: 0.175rem 0;
  padding: 0.3rem;
}

.form-wrapper .signup .fbtn-wrap, .form-wrapper .signin .fbtn-wrap, .form-wrapper .activate .fbtn-wrap {
  width: 100%;
  margin: 0.8rem 0;
}

.form-wrapper .signup .fbtn-wrap .fbtn-wrap-btn, .form-wrapper .signin .fbtn-wrap .fbtn-wrap-btn, .form-wrapper .activate .fbtn-wrap .fbtn-wrap-btn {
  width: 100%;
  padding: 0.3rem 0.5rem;
}

.twister-box .twister-text {
  line-height: 1.2;
  font-size: 0.875rem;
}

.twister-box .twister-link {
  line-height: 1.2;
  text-decoration: none;
}

@media screen and (min-width: 300px) {
  .hero-wrapper {
    height: 60vh;
    margin: 0.5rem 0;
    padding: 3rem 0;
  }
  .hero-wrapper .hero-copy-wrapper .hero-copy {
    font-size: 2.3rem;
    line-height: 1.2;
  }
  .hero-wrapper .hero-copy-wrapper .hero-intro-copy {
    margin: 0.7rem 0;
    font-size: 1.25rem;
    font-family: Arial;
    line-height: 1.4;
    color: #425466;
    font-weight: 500;
  }
  .hero-wrapper .hero-cta {
    margin: 2rem 0 0.7rem 0;
  }
  .hero-wrapper .hero-cta .hero-cta-link {
    font-size: 1.1rem;
    padding: 0.7rem 2.5rem;
    font-weight: 900;
  }
}

@media screen and (min-width: 400px) {
  .hero-wrapper {
    height: 60vh;
    margin: 0.5rem 0;
    padding: 3rem 0;
  }
  .hero-wrapper .hero-copy-wrapper .hero-copy {
    font-size: 2.4rem;
    line-height: 1;
  }
  .hero-wrapper .hero-copy-wrapper .hero-intro-copy {
    margin: 0.7rem 0;
    font-size: 1.25rem;
    font-family: Arial;
    line-height: 1.4;
    color: #425466;
    font-weight: 500;
  }
  .hero-wrapper .hero-cta {
    margin: 2rem 0 0.7rem 0;
  }
  .hero-wrapper .hero-cta .hero-cta-link {
    font-size: 1rem;
    padding: 0.6rem 2.4rem;
    font-weight: 900;
  }
}

@media screen and (min-width: 540px) {
  .hero-wrapper {
    height: 60vh;
    margin: 0.5rem 0;
    padding: 3rem 0;
  }
  .hero-wrapper .hero-copy-wrapper .hero-copy {
    font-size: 2.7rem;
    line-height: 1;
  }
  .hero-wrapper .hero-copy-wrapper .hero-intro-copy {
    margin: 0.7rem 0;
    font-size: 1.25rem;
    font-family: Arial;
    line-height: 1.4;
    color: #425466;
    font-weight: 500;
  }
  .hero-wrapper .hero-cta {
    margin: 2rem 0 0.7rem 0;
  }
  .hero-wrapper .hero-cta .hero-cta-link {
    font-size: 1rem;
    padding: 0.8rem 2rem;
    font-weight: 900;
  }
}

@media screen and (min-width: 720px) {
  .hero-wrapper {
    height: 60vh;
    margin: 0.5rem 0;
    padding: 3rem 0;
  }
  .hero-wrapper .hero-copy-wrapper .hero-copy {
    font-size: 2.7rem;
    width: 90%;
    line-height: 1;
  }
  .hero-wrapper .hero-copy-wrapper .hero-intro-copy {
    margin: 0.7rem 0;
    font-size: 1.25rem;
    font-family: Arial;
    line-height: 1.4;
    color: #425466;
    font-weight: 500;
    width: 80%;
  }
  .hero-wrapper .hero-cta {
    margin: 2rem 0 0.7rem 0;
  }
  .hero-wrapper .hero-cta .hero-cta-link {
    font-size: 1rem;
    padding: 0.8rem 2rem;
    font-weight: 900;
  }
}

@media screen and (min-width: 1024px) {
  .hero-wrapper {
    height: 50vh;
    margin: 0.5rem 0;
    padding: 6rem 0;
  }
  .hero-wrapper .hero-copy-wrapper .hero-copy {
    font-size: 3.5rem;
    width: 80%;
    line-height: 1;
  }
  .hero-wrapper .hero-copy-wrapper .hero-intro-copy {
    margin: 0.7rem 0;
    font-size: 1.29rem;
    font-family: Arial;
    line-height: 1.2;
    color: #425466;
    font-weight: 500;
    width: 60%;
  }
  .hero-wrapper .hero-cta {
    margin: 2rem 0 0.7rem 0;
  }
  .hero-wrapper .hero-cta .hero-cta-link {
    font-size: 1rem;
    padding: 0.8rem 2rem;
    font-weight: 900;
  }
}

@media screen and (min-width: 1366px) {
  .hero-wrapper {
    height: 50vh;
    margin: 0.5rem 0;
    padding: 6rem 0;
  }
  .hero-wrapper .hero-copy-wrapper .hero-copy {
    line-height: 1;
    font-size: 3.89rem;
    width: 80%;
  }
  .hero-wrapper .hero-copy-wrapper .hero-intro-copy {
    margin: 0.7rem 0;
    font-size: 1.2rem;
    font-family: Arial;
    line-height: 1.2;
    color: #425466;
    font-weight: 500;
    width: 60%;
  }
  .hero-wrapper .hero-cta {
    margin: 2rem 0 0.7rem 0;
  }
  .hero-wrapper .hero-cta .hero-cta-link {
    font-size: 1rem;
    padding: 0.6rem 2.5rem;
    font-weight: 900;
  }
}
/*# sourceMappingURL=main.css.map */