* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  font-size: 17px;
  font-family: "Atyp text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

button {
  outline: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.15);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

@font-face {
  font-family: "future";
  src: url(../fonts/future.woff2) format("woff2-variations");
  font-display: block;
  font-weight: 1 1000;
  unicode-range: U+0000-007e;
}

@font-face {
  font-family: "Atyp text";
  src: url(../../fonts/AtypText-Regular.woff2) format("woff2");
  font-display: swap;
}

.global-container {
  width: 100%;
  padding: 0 5%;
}

.global-margin {
  margin: 60px 0;
}

.logo-container {
  width: 120px;
}

.logo-container .logo {
  width: 100%;
  height: 32px;
  -o-object-fit: contain;
     object-fit: contain;
}

.hero-wrapper {
  width: 100%;
  height: auto;
}

.hero-wrapper .hero-copy-wrapper .hero-copy {
  color: #1c1e21;
  line-height: 1.2;
  font-size: 1.9rem;
  letter-spacing: 0.02rem;
  font-family: "Atyp text";
}

.hero-wrapper .hero-copy-wrapper .hero-intro-copy {
  margin: 0.7rem 0;
  font-size: 1.0625rem;
  line-height: 1.4;
  letter-spacing: 0.02rem;
  font-weight: 300;
  color: #898989;
  font-family: "Atyp text" !important;
}

.hero-wrapper .hero-cta {
  margin: 1.6rem 0;
}

.hero-wrapper .hero-cta .hero-cta-link {
  color: #fff;
  line-height: 1.4;
  background-color: #057bc0;
  padding: 0.7rem 1.25rem;
  font-size: 1.0625rem;
  text-decoration: none;
  letter-spacing: 0.02rem;
}

.hero-wrapper .hero-cta .hero-cta-link .arrow-right {
  stroke: currentColor;
  fill: #fff;
  vertical-align: middle;
  margin-bottom: 0.125rem;
}

.form-container {
  margin: 3.5rem 0;
  width: 100%;
}

.form-container .form-copy-wrap .form-copy {
  line-height: 1.4;
  color: #425466;
  font-weight: 700;
  font-size: 1.375rem;
  margin: 0.5rem 0;
}

.form-container .intro-note {
  line-height: 1.4;
  margin: 0.6rem 0;
}

.form-container .intro-note p {
  font-size: 1.0625rem;
  font-weight: 300;
  color: #898989;
}

.form-container .form-wrapper {
  margin: 2rem 0;
  letter-spacing: 0.025;
}

.form-container .form-wrapper #server_error_wrapper,
.form-container .form-wrapper #client_error_wrapper,
.form-container .form-wrapper #client_success_wrapper {
  border: 1px solid rgba(227, 0, 0, 0.4);
  width: 100%;
  height: auto;
  padding: 10px;
  background-color: #fff2f4;
}

.form-container .form-wrapper #client_success_wrapper {
  display: none;
  border: 1px solid rgba(128, 241, 189, 0.4);
  margin: 10px 0;
  position: relative;
  background-color: #a9ecad;
}

.form-container .form-wrapper #client_success_wrapper #client_success_msg {
  vertical-align: middle;
  font-size: 1.0625rem;
  color: #425466;
}

.form-container .form-wrapper #client_success_wrapper #closeBtn {
  position: absolute;
  right: 10px;
  top: 6px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  color: #425466;
  font-size: 1.5rem;
}

.form-container .form-wrapper #server_error_wrapper {
  margin: 10px 0;
  position: relative;
}

.form-container .form-wrapper #server_error_wrapper #server_error_msg {
  vertical-align: middle;
  font-size: 1.0625rem;
  color: #425466;
}

.form-container .form-wrapper #client_error_wrapper {
  display: none;
  margin: 10px 0;
}

.form-container .form-wrapper #client_error_wrapper #client_error_msg {
  vertical-align: middle;
  color: #425466;
  font-size: 1.0625rem;
}

.form-container .form-wrapper .signup .fin-wrap,
.form-container .form-wrapper .signin .fin-wrap,
.form-container .form-wrapper .activate .fin-wrap {
  width: 100%;
  margin: 0.675rem 0;
}

.form-container .form-wrapper .signup .fin-wrap label,
.form-container .form-wrapper .signin .fin-wrap label,
.form-container .form-wrapper .activate .fin-wrap label {
  font-size: 1.0625rem;
  color: #898989;
  letter-spacing: 0.025;
  line-height: 1.4;
  margin: 0.2rem 0;
}

.form-container .form-wrapper .signup .fin-wrap #emailErrMsg,
.form-container .form-wrapper .signup .fin-wrap #usernameErrMsg,
.form-container .form-wrapper .signup .fin-wrap #pwdErrMsg,
.form-container .form-wrapper .signin .fin-wrap #emailErrMsg,
.form-container .form-wrapper .signin .fin-wrap #usernameErrMsg,
.form-container .form-wrapper .signin .fin-wrap #pwdErrMsg,
.form-container .form-wrapper .activate .fin-wrap #emailErrMsg,
.form-container .form-wrapper .activate .fin-wrap #usernameErrMsg,
.form-container .form-wrapper .activate .fin-wrap #pwdErrMsg {
  display: none;
  color: red;
  font-size: 1.0625rem;
}

.form-container .form-wrapper .signup .fin-wrap .pwd-wrap,
.form-container .form-wrapper .signin .fin-wrap .pwd-wrap,
.form-container .form-wrapper .activate .fin-wrap .pwd-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-container .form-wrapper .signup .fin-wrap .pwd-wrap .fgp,
.form-container .form-wrapper .signin .fin-wrap .pwd-wrap .fgp,
.form-container .form-wrapper .activate .fin-wrap .pwd-wrap .fgp {
  font-size: 1.0625rem;
  text-decoration: none;
  letter-spacing: 0.025;
  text-decoration: underline;
  color: #898989;
  margin: 0.25rem 0;
}

.form-container .form-wrapper .signup .fin-wrap .pwd-wrap .fgp:hover,
.form-container .form-wrapper .signin .fin-wrap .pwd-wrap .fgp:hover,
.form-container .form-wrapper .activate .fin-wrap .pwd-wrap .fgp:hover {
  color: #057bc0;
}

.form-container .form-wrapper .signup .fin-wrap .fin-wrap-input,
.form-container .form-wrapper .signin .fin-wrap .fin-wrap-input,
.form-container .form-wrapper .activate .fin-wrap .fin-wrap-input {
  width: 100%;
  margin: 0.4rem 0;
  padding: 0.6rem 0.7rem;
  letter-spacing: 0.025;
  font-size: 1.0625rem;
  color: #898989;
  font-family: "Atyp text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.form-container .form-wrapper .signup .fbtn-wrap,
.form-container .form-wrapper .signin .fbtn-wrap,
.form-container .form-wrapper .activate .fbtn-wrap {
  width: 100%;
  margin: 1rem 0;
}

.form-container .form-wrapper .signup .fbtn-wrap .fbtn-wrap-btn,
.form-container .form-wrapper .signin .fbtn-wrap .fbtn-wrap-btn,
.form-container .form-wrapper .activate .fbtn-wrap .fbtn-wrap-btn {
  cursor: pointer;
  width: 100%;
  font-family: "Atyp text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0.8rem 1.25rem;
  font-weight: 700;
  font-size: 1.0625rem;
  border: none;
  letter-spacing: 0.025;
  background-color: #057bc0;
  color: #fff;
}

.form-container .form-wrapper .signup .fbtn-wrap .fbtn-wrap-btn .arrow-right,
.form-container .form-wrapper .signin .fbtn-wrap .fbtn-wrap-btn .arrow-right,
.form-container .form-wrapper .activate .fbtn-wrap .fbtn-wrap-btn .arrow-right {
  stroke: currentColor;
  fill: #fff;
  margin-bottom: 0.125rem;
  vertical-align: middle;
}

.form-container .form-wrapper .signup .fbtn-wrap .fbtn-wrap-btn:disabled,
.form-container .form-wrapper .signin .fbtn-wrap .fbtn-wrap-btn:disabled,
.form-container .form-wrapper .activate .fbtn-wrap .fbtn-wrap-btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.form-container .resend_code_box .resend_code_trigger {
  text-decoration: underline;
  color: #898989;
  font-size: 1.0625rem;
  cursor: pointer;
}

.form-container .twister-box .twister-text {
  line-height: 1.4;
  letter-spacing: 0.025;
  font-size: 1.0625rem;
  color: #898989;
}

.form-container .twister-box .twister-link {
  line-height: 1.4;
  letter-spacing: 0.025;
  font-size: 1.0625rem;
  text-decoration: underline;
  color: #898989;
}

.form-container .twister-box .twister-link:hover {
  color: #057bc0;
}

@media screen and (min-width: 300px) {
  .hero-wrapper {
    height: 60vh;
    margin: 0.5rem 0;
    padding: 3rem 0;
  }
  .hero-wrapper .hero-copy-wrapper .hero-copy {
    font-size: 2.3rem;
    line-height: 1.2;
  }
  .hero-wrapper .hero-copy-wrapper .hero-intro-copy {
    margin: 0.7rem 0;
    font-size: 1.0625rem;
    line-height: 1.4;
  }
  .hero-wrapper .form-container .form-wrapper #client_success_wrapper {
    margin: 10px 0;
  }
  .hero-wrapper .form-container .form-wrapper #client_success_wrapper #client_success_msg {
    font-size: 1.0625rem;
  }
  .hero-wrapper .form-container .form-wrapper #client_success_wrapper #closeBtn {
    font-size: 3rem;
    top: 0px;
  }
  .hero-wrapper .hero-cta {
    margin: 2rem 0 0.7rem 0;
  }
  .hero-wrapper .hero-cta .hero-cta-link {
    font-size: 1.0625rem;
    padding: 0.7rem 2.5rem;
  }
}

@media screen and (min-width: 400px) {
  .hero-wrapper {
    height: 60vh;
    margin: 0.5rem 0;
    padding: 3rem 0;
  }
  .hero-wrapper .hero-copy-wrapper .hero-copy {
    font-size: 2.4rem;
    line-height: 1;
  }
  .hero-wrapper .hero-copy-wrapper .hero-intro-copy {
    margin: 0.7rem 0;
    font-size: 1.0625rem;
    line-height: 1.4;
  }
  .hero-wrapper .hero-cta {
    margin: 2rem 0 0.7rem 0;
  }
  .hero-wrapper .hero-cta .hero-cta-link {
    font-size: 1.0625rem;
    padding: 0.6rem 2.4rem;
  }
  .form-container .form-wrapper #client_success_wrapper {
    margin: 10px 0;
  }
  .form-container .form-wrapper #client_success_wrapper #client_success_msg {
    font-size: 1.0625rem;
  }
  .form-container .form-wrapper #client_success_wrapper #closeBtn {
    font-size: 2rem;
    top: 2px;
  }
}

@media screen and (min-width: 540px) {
  .hero-wrapper {
    height: 60vh;
    margin: 0.5rem 0;
    padding: 3rem 0;
  }
  .hero-wrapper .hero-copy-wrapper .hero-copy {
    font-size: 2.7rem;
    line-height: 1;
  }
  .hero-wrapper .hero-copy-wrapper .hero-intro-copy {
    margin: 0.7rem 0;
    font-size: 1.0625rem;
  }
  .hero-wrapper .hero-cta {
    margin: 2rem 0 0.7rem 0;
  }
  .hero-wrapper .hero-cta .hero-cta-link {
    font-size: 1.0625rem;
    padding: 0.8rem 2rem;
  }
  .form-container {
    padding: 20px 60px;
    margin: 2rem 0;
  }
  .form-container .intro-note {
    line-height: 1.4;
    margin: 0.6rem 0;
  }
  .form-container .intro-note p {
    font-size: 1.0625rem;
  }
  .form-container .resend_code_box .resend_code_trigger {
    font-size: 1.0625rem;
  }
  .form-container .form-wrapper #server_error_wrapper {
    margin: 14px 0;
  }
  .form-container .form-wrapper #server_error_wrapper #server_error_msg {
    font-size: 1.0625rem;
  }
  .form-container .form-wrapper #client_success_wrapper {
    margin: 10px 0;
  }
  .form-container .form-wrapper #client_success_wrapper #client_success_msg {
    font-size: 1.0625rem;
  }
  .form-container .form-wrapper #client_success_wrapper #closeBtn {
    font-size: 2rem;
    top: 1.5px;
  }
  .form-container .form-wrapper #client_error_wrapper {
    margin: 14px 0;
  }
  .form-container .form-wrapper #client_error_wrapper #client_error_msg {
    font-size: 1.0625rem;
  }
  .form-container .form-wrapper .signup .fin-wrap,
  .form-container .form-wrapper .signin .fin-wrap,
  .form-container .form-wrapper .activate .fin-wrap {
    width: 100%;
    margin: 0.675rem 0;
  }
  .form-container .form-wrapper .signup .fin-wrap label,
  .form-container .form-wrapper .signin .fin-wrap label,
  .form-container .form-wrapper .activate .fin-wrap label {
    font-size: 1.0625rem;
  }
  .form-container .form-wrapper .signup .fin-wrap .pwd-wrap,
  .form-container .form-wrapper .signin .fin-wrap .pwd-wrap,
  .form-container .form-wrapper .activate .fin-wrap .pwd-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .form-container .form-wrapper .signup .fin-wrap .pwd-wrap .fgp,
  .form-container .form-wrapper .signin .fin-wrap .pwd-wrap .fgp,
  .form-container .form-wrapper .activate .fin-wrap .pwd-wrap .fgp {
    font-size: 1.0625rem;
  }
  .form-container .form-wrapper .signup .fin-wrap .fin-wrap-input,
  .form-container .form-wrapper .signin .fin-wrap .fin-wrap-input,
  .form-container .form-wrapper .activate .fin-wrap .fin-wrap-input {
    padding: 0.7rem 0.7rem;
    letter-spacing: 0.025;
    font-size: 1.0625rem;
  }
  .form-container .form-wrapper .signup .fbtn-wrap,
  .form-container .form-wrapper .signin .fbtn-wrap,
  .form-container .form-wrapper .activate .fbtn-wrap {
    width: 100%;
    margin: 1rem 0;
  }
  .form-container .form-wrapper .signup .fbtn-wrap .fbtn-wrap-btn,
  .form-container .form-wrapper .signin .fbtn-wrap .fbtn-wrap-btn,
  .form-container .form-wrapper .activate .fbtn-wrap .fbtn-wrap-btn {
    width: auto;
    padding: 0.9rem 1.5rem;
  }
  .form-container .twister-box .twister-text {
    font-size: 1.0625rem;
  }
  .form-container .twister-box .twister-link {
    font-size: 1.0625rem;
  }
}

@media screen and (min-width: 720px) {
  .hero-wrapper {
    height: 60vh;
    margin: 0.5rem 0;
    padding: 3rem 0;
  }
  .hero-wrapper .hero-copy-wrapper .hero-copy {
    font-size: 2.7rem;
    width: 90%;
    line-height: 1;
  }
  .hero-wrapper .hero-copy-wrapper .hero-intro-copy {
    margin: 0.7rem 0;
    font-size: 1.0625rem;
    line-height: 1.4;
    width: 80%;
  }
  .hero-wrapper .hero-cta {
    margin: 2rem 0 0.7rem 0;
  }
  .hero-wrapper .hero-cta .hero-cta-link {
    font-size: 1.0625rem;
    padding: 0.8rem 2rem;
    font-weight: 700;
  }
  .form-container {
    width: 80%;
    padding: 50px;
    height: auto;
    margin: 2rem auto;
  }
  .form-container .intro-note {
    line-height: 1.4;
    margin: 0.6rem 0;
  }
  .form-container .intro-note p {
    font-size: 1.0625rem;
  }
  .form-container .resend_code_box .resend_code_trigger {
    font-size: 1.0625rem;
  }
  .form-container .form-wrapper #server_error_wrapper {
    margin: 14px 0;
  }
  .form-container .form-wrapper #server_error_wrapper #server_error_msg {
    font-size: 1.0625rem;
  }
  .form-container .form-wrapper #client_success_wrapper {
    margin: 10px 0;
  }
  .form-container .form-wrapper #client_success_wrapper #client_success_msg {
    font-size: 1.0625rem;
  }
  .form-container .form-wrapper #client_success_wrapper #closeBtn {
    font-size: 2rem;
    top: 3px;
  }
  .form-container .form-wrapper #client_error_wrapper {
    margin: 14px 0;
  }
  .form-container .form-wrapper #client_error_wrapper #client_error_msg {
    font-size: 1.0625rem;
  }
  .form-container .form-wrapper .signup .fin-wrap,
  .form-container .form-wrapper .signin .fin-wrap,
  .form-container .form-wrapper .activate .fin-wrap {
    width: 100%;
    margin: 0.675rem 0;
  }
  .form-container .form-wrapper .signup .fin-wrap label,
  .form-container .form-wrapper .signin .fin-wrap label,
  .form-container .form-wrapper .activate .fin-wrap label {
    font-size: 1.0625rem;
    letter-spacing: 0.025;
  }
  .form-container .form-wrapper .signup .fin-wrap .pwd-wrap .fgp,
  .form-container .form-wrapper .signin .fin-wrap .pwd-wrap .fgp,
  .form-container .form-wrapper .activate .fin-wrap .pwd-wrap .fgp {
    font-size: 1.0625rem;
  }
  .form-container .form-wrapper .signup .fin-wrap .fin-wrap-input,
  .form-container .form-wrapper .signin .fin-wrap .fin-wrap-input,
  .form-container .form-wrapper .activate .fin-wrap .fin-wrap-input {
    padding: 0.7rem 0.7rem;
    letter-spacing: 0.025;
    font-size: 1.0625rem;
  }
  .form-container .form-wrapper .signup .fbtn-wrap,
  .form-container .form-wrapper .signin .fbtn-wrap,
  .form-container .form-wrapper .activate .fbtn-wrap {
    width: 100%;
    margin: 1rem 0;
  }
  .form-container .form-wrapper .signup .fbtn-wrap .fbtn-wrap-btn,
  .form-container .form-wrapper .signin .fbtn-wrap .fbtn-wrap-btn,
  .form-container .form-wrapper .activate .fbtn-wrap .fbtn-wrap-btn {
    width: auto;
    font-weight: 700;
    font-size: 1.0625rem;
    padding: 0.9rem 1.5rem;
  }
  .form-container .twister-box .twister-text {
    font-size: 1.0625rem;
  }
  .form-container .twister-box .twister-link {
    font-size: 1.0625rem;
  }
}

@media screen and (min-width: 1024px) {
  .hero-wrapper {
    height: 50vh;
    margin: 0.5rem 0;
    padding: 6rem 0;
  }
  .hero-wrapper .hero-copy-wrapper .hero-copy {
    font-size: 3.5rem;
    width: 80%;
    line-height: 1;
  }
  .hero-wrapper .hero-copy-wrapper .hero-intro-copy {
    margin: 0.7rem 0;
    font-size: 1.0625rem;
    line-height: 1.2;
    width: 60%;
  }
  .hero-wrapper .hero-cta {
    margin: 2rem 0 0.7rem 0;
  }
  .hero-wrapper .hero-cta .hero-cta-link {
    font-size: 1.0625rem;
    padding: 0.8rem 2rem;
  }
  .form-container {
    width: 70%;
    padding: 50px;
    height: auto;
    margin: 2rem auto;
  }
  .form-container .intro-note {
    line-height: 1.4;
    margin: 0.6rem 0;
  }
  .form-container .intro-note p {
    font-size: 1.0625rem;
  }
  .form-container .resend_code_box .resend_code_trigger {
    font-size: 1.0625rem;
  }
  .form-container .form-wrapper #server_error_wrapper {
    margin: 14px 0;
  }
  .form-container .form-wrapper #server_error_wrapper #server_error_msg {
    font-size: 1.0625rem;
  }
  .form-container .form-wrapper #client_success_wrapper {
    margin: 10px 0;
  }
  .form-container .form-wrapper #client_success_wrapper #client_success_msg {
    font-size: 1.0625rem;
  }
  .form-container .form-wrapper #client_success_wrapper #closeBtn {
    font-size: 2rem;
    top: 1px;
  }
  .form-container .form-wrapper #client_error_wrapper {
    margin: 14px 0;
  }
  .form-container .form-wrapper #client_error_wrapper #client_error_msg {
    font-size: 1.0625rem;
  }
  .form-container .form-wrapper .signup .fin-wrap,
  .form-container .form-wrapper .signin .fin-wrap,
  .form-container .form-wrapper .activate .fin-wrap {
    width: 100%;
    margin: 0.675rem 0;
  }
  .form-container .form-wrapper .signup .fin-wrap label,
  .form-container .form-wrapper .signin .fin-wrap label,
  .form-container .form-wrapper .activate .fin-wrap label {
    font-size: 1.0625rem;
  }
  .form-container .form-wrapper .signup .fin-wrap .pwd-wrap .fgp,
  .form-container .form-wrapper .signin .fin-wrap .pwd-wrap .fgp,
  .form-container .form-wrapper .activate .fin-wrap .pwd-wrap .fgp {
    font-size: 1.0625rem;
  }
  .form-container .form-wrapper .signup .fin-wrap .fin-wrap-input,
  .form-container .form-wrapper .signin .fin-wrap .fin-wrap-input,
  .form-container .form-wrapper .activate .fin-wrap .fin-wrap-input {
    padding: 0.7rem 0.7rem;
    font-size: 1.0625rem;
  }
  .form-container .form-wrapper .signup .fbtn-wrap,
  .form-container .form-wrapper .signin .fbtn-wrap,
  .form-container .form-wrapper .activate .fbtn-wrap {
    width: 100%;
    margin: 1rem 0;
  }
  .form-container .form-wrapper .signup .fbtn-wrap .fbtn-wrap-btn,
  .form-container .form-wrapper .signin .fbtn-wrap .fbtn-wrap-btn,
  .form-container .form-wrapper .activate .fbtn-wrap .fbtn-wrap-btn {
    padding: 0.9rem 1.5rem;
    font-size: 1.0625rem;
  }
  .form-container .twister-box .twister-text {
    font-size: 1.0625rem;
  }
  .form-container .twister-box .twister-link {
    font-size: 1.0625rem;
  }
}

@media screen and (min-width: 1366px) {
  .global-container {
    padding: 0 10%;
  }
  .hero-wrapper {
    height: 50vh;
  }
  .hero-wrapper .hero-copy-wrapper .hero-copy {
    line-height: 1;
    font-size: 3.89rem;
    width: 70%;
  }
  .hero-wrapper .hero-copy-wrapper .hero-intro-copy {
    margin: 0.7rem 0;
    font-size: 1.0625rem;
    font-family: "Atyp text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    line-height: 1.2;
    color: #425466;
    font-weight: 300;
    width: 60%;
  }
  .hero-wrapper .hero-cta {
    width: 200px;
    margin: 2rem 0 0.7rem 0;
  }
  .hero-wrapper .hero-cta .hero-cta-link {
    width: 100%;
    font-size: 1.0625rem;
    padding: 0.8rem 2.5rem;
    font-weight: 500;
  }
  .form-container {
    width: 45%;
    padding: 50px;
    height: auto;
    margin: 2rem auto;
    border: 1px solid rgba(0, 0, 0, 0.15);
  }
  .form-container .intro-note {
    line-height: 1.4;
    margin: 0.6rem 0;
  }
  .form-container .intro-note p {
    font-size: 1.0625rem;
    font-weight: 500;
    color: #898989;
  }
  .form-container .resend_code_box .resend_code_trigger {
    font-size: 1.0625rem;
  }
  .form-container .form-wrapper #server_error_wrapper {
    margin: 14px 0;
  }
  .form-container .form-wrapper #server_error_wrapper #server_error_msg {
    font-size: 1.0625rem;
  }
  .form-container .form-wrapper #client_success_wrapper {
    margin: 10px 0;
  }
  .form-container .form-wrapper #client_success_wrapper #client_success_msg {
    font-size: 1.0625rem;
  }
  .form-container .form-wrapper #client_success_wrapper #closeBtn {
    font-size: 2rem;
    top: 1px;
  }
  .form-container .form-wrapper #client_error_wrapper {
    margin: 14px 0;
  }
  .form-container .form-wrapper #client_error_wrapper #client_error_msg {
    font-size: 1.0625rem;
  }
  .form-container .form-wrapper .signup .fin-wrap,
  .form-container .form-wrapper .signin .fin-wrap,
  .form-container .form-wrapper .activate .fin-wrap {
    width: 100%;
    margin: 0.675rem 0;
  }
  .form-container .form-wrapper .signup .fin-wrap label,
  .form-container .form-wrapper .signin .fin-wrap label,
  .form-container .form-wrapper .activate .fin-wrap label {
    font-size: 1.0625rem;
    color: #898989;
    letter-spacing: 0.025;
    line-height: 1.4;
  }
  .form-container .form-wrapper .signup .fin-wrap .pwd-wrap,
  .form-container .form-wrapper .signin .fin-wrap .pwd-wrap,
  .form-container .form-wrapper .activate .fin-wrap .pwd-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .form-container .form-wrapper .signup .fin-wrap .pwd-wrap .fgp,
  .form-container .form-wrapper .signin .fin-wrap .pwd-wrap .fgp,
  .form-container .form-wrapper .activate .fin-wrap .pwd-wrap .fgp {
    font-size: 1.0625rem;
  }
  .form-container .form-wrapper .signup .fin-wrap .fin-wrap-input,
  .form-container .form-wrapper .signin .fin-wrap .fin-wrap-input,
  .form-container .form-wrapper .activate .fin-wrap .fin-wrap-input {
    padding: 0.4rem 0.7rem;
    letter-spacing: 0.025;
    font-size: 1.0625rem;
  }
  .form-container .form-wrapper .signup .fbtn-wrap,
  .form-container .form-wrapper .signin .fbtn-wrap,
  .form-container .form-wrapper .activate .fbtn-wrap {
    width: 100%;
    margin: 1rem 0;
  }
  .form-container .form-wrapper .signup .fbtn-wrap .fbtn-wrap-btn,
  .form-container .form-wrapper .signin .fbtn-wrap .fbtn-wrap-btn,
  .form-container .form-wrapper .activate .fbtn-wrap .fbtn-wrap-btn {
    font-weight: 700;
    width: auto;
    font-size: 1.0625rem;
    padding: 0.4rem 1.5rem;
  }
  .form-container .twister-box .twister-text {
    font-size: 1.0625rem;
  }
  .form-container .twister-box .twister-link {
    font-size: 1.0625rem;
  }
}

.mobile-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  padding: 0 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.mobile-nav .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5px;
}

.mobile-nav .nav-item .nav-item-icon svg {
  width: 20px;
  height: 20px;
}

.mobile-nav .nav-item .nav-item-desc {
  font-size: 0.7rem;
}

.welcome-box {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding: 0.5rem;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome-box #greeting_text_UI {
  font-size: 1.2rem;
  margin-right: 0.3rem;
  font-weight: bold;
}

.welcome-box .username-display {
  font-size: 1.2rem;
  font-weight: bold;
}

.activity_section {
  margin-top: 4rem;
}

.activity_section .page_title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.activity_section .site_wide_msg {
  width: 100%;
}

.activity_section .site_wide_msg .error_msg_container .error_msg {
  color: red;
}

.set-pin-mobile-popup {
  width: 100%;
  height: 300px;
  border: 1px solid tomato;
}

.set-pin-mobile-popup .impo {
  text-align: center;
}

.set-pin-mobile-popup .pin-form-cont {
  width: 100%;
  border: 1px solid blueviolet;
}

.set-pin-mobile-popup .pin-form-cont form {
  width: 100%;
}

.set-pin-mobile-popup .pin-form-cont form input {
  width: 100%;
  padding: 0.3rem;
  font-family: "Atyp text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.set-pin-mobile-popup .pin-form-cont form .pin_numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0.6rem;
}

.set-pin-mobile-popup .pin-form-cont form .pin_numbers .pin-row-numbers-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0.3rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.set-pin-mobile-popup .pin-form-cont form .pin_numbers .pin-row-numbers-flex .numbers {
  border: 1px solid lime;
  border-radius: 100%;
}

.set-pin-mobile-popup .pin-form-cont form .pin_numbers .pin-row-numbers-flex .numbers .number {
  padding: 0.4rem 0.6rem;
  border-radius: 100%;
  background-color: #fff;
  border: none;
}
/*# sourceMappingURL=main.css.map */