@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&display=swap');
@font-face {
    font-family: "future";
    src: url(../fonts/future.woff2) format('woff2-variations');
    font-display: block;
    font-weight:1 1000;
    unicode-range:U+0000-007e;
}