// mobile first design

// reusable styles classes
.global-container {
  width: 100%;
  padding: 0 5%;
}
.global-margin {
  margin: 60px 0;
}

// logo container
.logo-container {
  width: 120px;
  // padding: 0.5rem 0;
  .logo {
    width: 100%;
    height: 32px;
    object-fit: contain;
  }
}

// hero container
.hero-wrapper {
  width: 100%;
  height: auto;
  .hero-copy-wrapper {
    .hero-copy {
      color: #1c1e21;
      line-height: 1.2;
      font-size: $smhfs;
      letter-spacing: 0.02rem;
      font-family: $gordita;
    }
    .hero-intro-copy {
      margin: 0.7rem 0;
      font-size: $smpfs;
      line-height: 1.4;
      letter-spacing: 0.02rem;
      font-weight: 300;
      color: $fontColor;
      font-family: $Aytp;
    }
  }
  .hero-cta {
    margin: 1.6rem 0;
    .hero-cta-link {
      color: $buttonColor;
      line-height: 1.4;
      background-color: $buttonBg;
      padding: 0.7rem 1.25rem;
      font-size: $smafs;
      text-decoration: none;
      letter-spacing: 0.02rem;
      // border-radius: 70px;
      .arrow-right {
        stroke: currentColor;
        fill: #fff;
        vertical-align: middle;
        margin-bottom: 0.125rem;
      }
    }
  }
}

//forms
.form-container {
  margin: 3.5rem 0;
  width: 100%;
  .form-copy-wrap {
    .form-copy {
      line-height: 1.4;
      color: $headerColor;
      font-weight: 700;
      font-size: 1.375rem;
      margin: 0.5rem 0;
    }
  }

  .intro-note {
    line-height: 1.4;
    margin: 0.6rem 0;
    p {
      font-size: $smpfs;
      font-weight: 300;
      color: $fontColor;
    }
  }

  .form-wrapper {
    #server_error_wrapper,
    #client_error_wrapper,
    #client_success_wrapper {
      border: 1px solid rgba(227, 0, 0, 0.4);
      width: 100%;
      height: auto;
      padding: 10px;
      background-color: #fff2f4;
    }

    #client_success_wrapper {
      display: none;
      border: 1px solid rgba(128, 241, 189, 0.4);
      margin: 10px 0;
      position: relative;
      background-color: #a9ecad;
      #client_success_msg {
        vertical-align: middle;
        font-size: $smpfs;
        color: $headerColor;
      }
      #closeBtn {
        position: absolute;
        right: 10px;
        top: 6px;
        transform: rotate(45deg);
        color: $headerColor;
        font-size: 1.5rem;
      }
    }

    #server_error_wrapper {
      margin: 10px 0;
      position: relative;
      #server_error_msg {
        vertical-align: middle;
        font-size: $smpfs;
        color: $headerColor;
      }
    }

    #client_error_wrapper {
      display: none;
      margin: 10px 0;
      #client_error_msg {
        vertical-align: middle;
        color: $headerColor;
        font-size: $smpfs;
      }
    }
    //signup style
    margin: 2rem 0;
    letter-spacing: 0.025;
    .signup,
    .signin,
    .activate {
      .fin-wrap {
        width: 100%;
        margin: 0.675rem 0;
        label {
          font-size: $smpfs;
          color: $fontColor;
          letter-spacing: 0.025;
          line-height: 1.4;
          margin: 0.2rem 0;
        }
        #emailErrMsg,
        #usernameErrMsg,
        #pwdErrMsg {
          display: none;
          color: red;
          font-size: $smpfs;
        }
        .pwd-wrap {
          display: flex;
          justify-content: space-between;
          .fgp {
            font-size: $smpfs;
            text-decoration: none;
            letter-spacing: 0.025;
            text-decoration: underline;
            color: $fontColor;
            margin: 0.25rem 0;
            &:hover {
              color: $buttonBg;
            }
          }
        }
        .fin-wrap-input {
          width: 100%;
          margin: 0.4rem 0;
          padding: 0.6rem 0.7rem;
          letter-spacing: 0.025;
          font-size: $smpfs;
          color: $fontColor;
          font-family: $gordita;
          outline: none;
          border: 1px solid $borderColor;
        }
      }
      .fbtn-wrap {
        width: 100%;
        margin: 1rem 0;
        .fbtn-wrap-btn {
          cursor: pointer;
          width: 100%;
          font-family: $gordita;
          padding: 0.8rem 1.25rem;
          font-weight: 700;
          font-size: $smafs;
          border: none;
          letter-spacing: 0.025;
          background-color: $buttonBg;
          color: $buttonColor;
          .arrow-right {
            stroke: currentColor;
            fill: #fff;
            margin-bottom: 0.125rem;
            vertical-align: middle;
          }
          &:disabled {
            cursor: not-allowed;
            opacity: 0.5;
          }
        }
      }
    }
  }

  .resend_code_box {
    .resend_code_trigger {
      text-decoration: underline;
      color: $fontColor;
      font-size: $smafs;
      cursor: pointer;
    }
  }

  .twister-box {
    .twister-text {
      line-height: 1.4;
      letter-spacing: 0.025;
      font-size: $smpfs;
      color: $fontColor;
    }
    .twister-link {
      line-height: 1.4;
      letter-spacing: 0.025;
      font-size: $smpfs;
      text-decoration: underline;
      color: $fontColor;
      &:hover {
        color: $buttonBg;
      }
    }
  }
}

@media screen and (min-width: 300px) {
  .hero-wrapper {
    // border: 1px solid red;
    height: 60vh;
    margin: 0.5rem 0;
    padding: 3rem 0;
    .hero-copy-wrapper {
      .hero-copy {
        font-size: $mmhfs;
        line-height: 1.2;
      }
      .hero-intro-copy {
        margin: 0.7rem 0;
        font-size: $mmpfs;
        line-height: 1.4;
      }
    }

    .form-container {
    .form-wrapper {
      #client_success_wrapper {
          margin: 10px 0;
          #client_success_msg {
            font-size: $mmpfs;
          }
          #closeBtn {
            font-size: 3rem;
            top: 0px;
          }
        }
    }
  }

    .hero-cta {
      margin: 2rem 0 0.7rem 0;
      .hero-cta-link {
        font-size: $mmafs;
        padding: 0.7rem 2.5rem;
      }
    }
  }
}

@media screen and (min-width: 400px) {
  .hero-wrapper {
    // border: 1px solid red;
    height: 60vh;
    margin: 0.5rem 0;
    padding: 3rem 0;
    .hero-copy-wrapper {
      .hero-copy {
        font-size: 2.4rem;
        line-height: 1;
      }
      .hero-intro-copy {
        margin: 0.7rem 0;
        font-size: $mmpfs;
        line-height: 1.4;
      }
    }
    .hero-cta {
      margin: 2rem 0 0.7rem 0;
      .hero-cta-link {
        font-size: $mmafs;
        padding: 0.6rem 2.4rem;
      }
    }
  }

  .form-container {
    .form-wrapper {
      #client_success_wrapper {
          margin: 10px 0;
          #client_success_msg {
            font-size: $mmpfs;
          }
          #closeBtn {
            font-size: 2rem;
            top: 2px;
          }
        }
    }
  }
}

//tablets

@media screen and (min-width: 540px) {
  .hero-wrapper {
    // border: 1px solid red;
    height: 60vh;
    margin: 0.5rem 0;
    padding: 3rem 0;
    .hero-copy-wrapper {
      .hero-copy {
        font-size: $thfs;
        line-height: 1;
      }
      .hero-intro-copy {
        margin: 0.7rem 0;
        font-size: $tpfs;
      }
    }
    .hero-cta {
      margin: 2rem 0 0.7rem 0;
      .hero-cta-link {
        font-size: $tafs;
        padding: 0.8rem 2rem;
      }
    }
  }

  //forms
  .form-container {
    padding: 20px 60px;
    margin: 2rem 0;
    .intro-note {
      line-height: 1.4;
      margin: 0.6rem 0;
      p {
        font-size: $tpfs;
      }
    }

    .resend_code_box {
      .resend_code_trigger {
        font-size: $tafs;
      }
    }

    .form-wrapper {
      #server_error_wrapper {
        margin: 14px 0;
        #server_error_msg {
          font-size: $tpfs;
        }
      }

      #client_success_wrapper {
        margin: 10px 0;
        #client_success_msg {
          font-size: $tpfs;
        }
        #closeBtn {
          font-size: 2rem;
          top: 1.5px;
        }
      }

      #client_error_wrapper {
        margin: 14px 0;
        #client_error_msg {
          font-size: $tpfs;
        }
      }
      .signup,
      .signin,
      .activate {
        .fin-wrap {
          width: 100%;
          margin: 0.675rem 0;
          label {
            font-size: $tpfs;
          }
          .pwd-wrap {
            display: flex;
            justify-content: space-between;
            .fgp {
              font-size: $tpfs;
            }
          }
          .fin-wrap-input {
            padding: 0.7rem 0.7rem;
            letter-spacing: 0.025;
            font-size: $tpfs;
          }
        }
        .fbtn-wrap {
          width: 100%;
          margin: 1rem 0;
          .fbtn-wrap-btn {
            width: auto;
            padding: 0.9rem 1.5rem;
          }
        }
      }
    }

    .twister-box {
      .twister-text {
        font-size: $tpfs;
      }
      .twister-link {
        font-size: $tpfs;
      }
    }
  }
}

@media screen and (min-width: 720px) {
  .hero-wrapper {
    // border: 1px solid red;
    height: 60vh;
    margin: 0.5rem 0;
    padding: 3rem 0;
    .hero-copy-wrapper {
      .hero-copy {
        font-size: $mthfs;
        width: 90%;
        line-height: 1;
      }
      .hero-intro-copy {
        margin: 0.7rem 0;
        font-size: $mtpfs;
        line-height: 1.4;
        width: 80%;
      }
    }
    .hero-cta {
      margin: 2rem 0 0.7rem 0;
      .hero-cta-link {
        font-size: $mtafs;
        padding: 0.8rem 2rem;
        font-weight: 700;
      }
    }
  }

  .form-container {
    width: 80%;
    padding: 50px;
    height: auto;
    margin: 2rem auto;
    .intro-note {
      line-height: 1.4;
      margin: 0.6rem 0;
      p {
        font-size: $mtpfs;
      }
    }

    .resend_code_box {
      .resend_code_trigger {
        font-size: $mtafs;
      }
    }

    .form-wrapper {
      #server_error_wrapper {
        margin: 14px 0;
        #server_error_msg {
          font-size: $mtpfs;
        }
      }

      #client_success_wrapper {
        margin: 10px 0;
        #client_success_msg {
          font-size: $mtpfs;
        }
        #closeBtn {
          font-size: 2rem;
          top: 3px;
        }
      }

      #client_error_wrapper {
        margin: 14px 0;
        #client_error_msg {
          font-size: $mtpfs;
        }
      }
      .signup,
      .signin,
      .activate {
        .fin-wrap {
          width: 100%;
          margin: 0.675rem 0;
          label {
            font-size: $mtpfs;
            letter-spacing: 0.025;
          }
          .pwd-wrap {
            .fgp {
              font-size: $mtpfs;
            }
          }
          .fin-wrap-input {
            padding: 0.7rem 0.7rem;
            letter-spacing: 0.025;
            font-size: $mtpfs;
          }
        }
        .fbtn-wrap {
          width: 100%;
          margin: 1rem 0;
          .fbtn-wrap-btn {
            width: auto;
            font-weight: 700;
            font-size: $mtafs;
            padding: 0.9rem 1.5rem;
          }
        }
      }
    }

    .twister-box {
      .twister-text {
        font-size: $mtpfs;
      }
      .twister-link {
        font-size: $mtpfs;
      }
    }
  }
}
// laptops, desktops and large screens

@media screen and (min-width: 1024px) {
  // hero container
  .hero-wrapper {
    // border: 1px solid red;
    height: 50vh;
    margin: 0.5rem 0;
    padding: 6rem 0;
    .hero-copy-wrapper {
      .hero-copy {
        font-size: $ihfs;
        width: 80%;
        line-height: 1;
      }
      .hero-intro-copy {
        margin: 0.7rem 0;
        font-size: $ipfs;
        line-height: 1.2;
        width: 60%;
      }
    }
    .hero-cta {
      margin: 2rem 0 0.7rem 0;
      .hero-cta-link {
        font-size: $iafs;
        padding: 0.8rem 2rem;
      }
    }
  }

  .form-container {
    width: 70%;
    padding: 50px;
    height: auto;
    margin: 2rem auto;
    .intro-note {
      line-height: 1.4;
      margin: 0.6rem 0;
      p {
        font-size: $ipfs;
      }
    }

    .resend_code_box {
      .resend_code_trigger {
        font-size: $iafs;
      }
    }

    .form-wrapper {
      #server_error_wrapper {
        margin: 14px 0;
        #server_error_msg {
          font-size: $ipfs;
        }
      }

      #client_success_wrapper {
        margin: 10px 0;
        #client_success_msg {
          font-size: $ipfs;
        }
        #closeBtn {
          font-size: 2rem;
          top: 1px;
        }
      }

      #client_error_wrapper {
        margin: 14px 0;
        #client_error_msg {
          font-size: $ipfs;
        }
      }
      .signup,
      .signin,
      .activate {
        .fin-wrap {
          width: 100%;
          margin: 0.675rem 0;
          label {
            font-size: $ipfs;
          }
          .pwd-wrap {
            .fgp {
              font-size: $ipfs;
            }
          }
          .fin-wrap-input {
            padding: 0.7rem 0.7rem;
            font-size: $ipfs;
          }
        }
        .fbtn-wrap {
          width: 100%;
          margin: 1rem 0;
          .fbtn-wrap-btn {
            padding: 0.9rem 1.5rem;
            font-size: $iafs;
          }
        }
      }
    }

    .twister-box {
      .twister-text {
        font-size: $ipfs;
      }
      .twister-link {
        font-size: $ipfs;
      }
    }
  }
}
@media screen and (min-width: 1366px) {
  .global-container {
    padding: 0 10%;
  }
  // hero container
  .hero-wrapper {
    height: 50vh;
    .hero-copy-wrapper {
      // border: 1px solid tomato;
      .hero-copy {
        line-height: 1;
        font-size: $dhfs;
        width: 70%;
      }
      .hero-intro-copy {
        margin: 0.7rem 0;
        font-size: $dpfs;
        font-family: $gordita;
        line-height: 1.2;
        color: #425466;
        font-weight: 300;
        width: 60%;
      }
    }
    .hero-cta {
      width: 200px;
      margin: 2rem 0 0.7rem 0;
      .hero-cta-link {
        width: 100%;
        font-size: $dafs;
        padding: 0.8rem 2.5rem;
        font-weight: 500;
      }
    }
  }

  .form-container {
    width: 45%;
    padding: 50px;
    height: auto;
    margin: 2rem auto;
    border:1px solid rgba(0,0,0,0.15);
    .intro-note {
      line-height: 1.4;
      margin: 0.6rem 0;
      p {
        font-size: $dpfs;
        font-weight: 500;
        color: $fontColor;
      }
    }

    .resend_code_box {
      .resend_code_trigger {
        font-size: $dafs;
      }
    }

    .form-wrapper {
      #server_error_wrapper {
        margin: 14px 0;
        #server_error_msg {
          font-size: $dpfs;
        }
      }

      #client_success_wrapper {
        margin: 10px 0;
        #client_success_msg {
          font-size: $dpfs;
        }
        #closeBtn {
          font-size: 2rem;
          top: 1px;
        }
      }

      #client_error_wrapper {
        margin: 14px 0;
        #client_error_msg {
          font-size: $dpfs;
        }
      }
      .signup,
      .signin,
      .activate {
        .fin-wrap {
          width: 100%;
          margin: 0.675rem 0;
          label {
            font-size: $dpfs;
            color: $fontColor;
            letter-spacing: 0.025;
            line-height: 1.4;
          }
          .pwd-wrap {
            display: flex;
            justify-content: space-between;
            .fgp {
              font-size: $dpfs;
            }
          }
          .fin-wrap-input {
            padding: 0.4rem 0.7rem;
            letter-spacing: 0.025;
            font-size: $dpfs;
          }
        }
        .fbtn-wrap {
          width: 100%;
          margin: 1rem 0;
          .fbtn-wrap-btn {
            font-weight: 700;
            width: auto;
            font-size: $dafs;
            padding: 0.4rem 1.5rem;
          }
        }
      }
    }

    .twister-box {
      .twister-text {
        font-size: $dpfs;
      }
      .twister-link {
        font-size: $dpfs;
      }
    }
  }
}
