// mobile first design

// logo container
.logo-container {
        padding: 0.5rem 0;
    .logo {
        width: 130px;
        height: auto;
        object-fit: contain;
    }
}

// hero container
.hero-wrapper {
    width: 100%;
    height: auto;
    .hero-copy-wrapper {
        .hero-copy {
            color:#1C1E21;
            line-height: 1.2;
            font-size: $smhfs;
            letter-spacing: 0.02rem;
        }
        .hero-intro-copy {
            margin: 0.7rem 0;
            font-size: $smpfs;
            line-height: 1.4;
            letter-spacing: 0.02rem;
            font-weight: 300;
            color: $fontColor;
        }
    }
    .hero-cta {
        margin: 1.6rem 0;
        .hero-cta-link {
            color:$buttonColor;
            line-height: 1.4;
            background-color: $buttonBg;
            padding: 0.7rem 1.2rem;
            font-size: $smafs;
            text-decoration: none;
            letter-spacing: 0.02rem;
            border-radius: 70px;
            .arrow-right {
                stroke: currentColor;
                fill: #fff;
                vertical-align: middle;
                margin-bottom: 0.125rem;
            }
        }
    }
}

//forms
.form-container {
    margin: 3.5rem 0;
    width: 100%;
    .form-copy-wrap {
        .form-copy {
            line-height: 1.4;
            color: $headerColor;
            font-weight: 700;
            font-size: 1.375rem;
            margin: 0.5rem 0;
        }
    }
    
    .intro-note {
        line-height: 1.4;
        margin: 0.6rem 0;
        p {
            font-size: $smpfs;
            font-weight: 300;
            color: $fontColor;
        }
    }
    
    .form-wrapper {
        //signup style
        margin: 2rem 0;
        letter-spacing: 0.025;
        .signup , .signin, .activate{
            .fin-wrap {
                width: 100%;
                margin: 0.675rem 0;
                label {
                    font-size: $smpfs;
                    color: $fontColor;
                    letter-spacing: 0.025;
                    line-height: 1.4;
                    margin: 0.2rem 0;
                }
                .pwd-wrap {
                    display: flex;
                    justify-content: space-between;
                    .fgp {
                        font-size: $smpfs;
                        text-decoration: none;
                        letter-spacing: 0.025;
                        text-decoration: underline;
                        color: $fontColor;
                        margin: 0.25rem 0;
                        &:hover {
                            color: $buttonBg;
                        }
                    }
                }
                .fin-wrap-input {
                    width: 100%;
                    margin: 0.4rem 0;
                    padding: 0.6rem 0.7rem;
                    border-radius: 0.5rem;
                    letter-spacing: 0.025;
                    font-size: $smpfs;
                    color: $fontColor;
                    outline: none;
                    border: 1px solid $headerColor;
                }
            }
            .fbtn-wrap {
                width: 100%;
                margin: 1rem 0;
                .fbtn-wrap-btn {
                    cursor: pointer;
                    width: 100%;
                    padding: 0.8rem 1rem;
                    border-radius: 70px;
                    font-weight: 700;
                    font-size: $smafs;
                    border:none;
                    letter-spacing: 0.025;
                    background-color: $buttonBg;
                    color: $buttonColor;
                    .arrow-right {
                        stroke: currentColor;
                        fill: #fff;
                        margin-bottom: 0.125rem;
                        vertical-align: middle;
                    }
                }
            }
        }
    }
    
    .twister-box {
        .twister-text {
            line-height: 1.4;
            letter-spacing: 0.025;
            font-size: $smpfs;
            color: $fontColor;
        }
        .twister-link {
            line-height: 1.4;
            letter-spacing: 0.025;
            font-size: $smpfs;
            text-decoration: underline;
            color: $fontColor;
            &:hover {
                color:$buttonBg;
            }
        }
    }
}


@media screen and (min-width: 300px) {
    .hero-wrapper {
    // border: 1px solid red;
    height: 60vh;
    margin: 0.5rem 0;
    padding: 3rem 0;
    .hero-copy-wrapper {
        .hero-copy {
            font-size: $mmhfs;
            line-height: 1.2;
        }
        .hero-intro-copy {
            margin: 0.7rem 0;
            font-size: $mmpfs;
            line-height: 1.4;
        }
    }
    .hero-cta {
        margin: 2rem 0 0.7rem 0;
        .hero-cta-link {
            font-size: $mmafs;
            padding: 0.7rem 2.5rem;
        }
    }
}
}

@media screen and (min-width: 400px) {
    .hero-wrapper {
    // border: 1px solid red;
    height: 60vh;
    margin: 0.5rem 0;
    padding: 3rem 0;
    .hero-copy-wrapper {
        .hero-copy {
            font-size: 2.4rem;
            line-height: 1;
        }
        .hero-intro-copy {
            margin: 0.7rem 0;
            font-size: $mmpfs;
            line-height: 1.4;
        }
    }
    .hero-cta {
        margin: 2rem 0 0.7rem 0;
        .hero-cta-link {
            font-size: $smafs;
            padding: 0.6rem 2.4rem;
        }
    }
}
}

//tablets

@media screen and (min-width: 540px) {
    .hero-wrapper {
    // border: 1px solid red;
    height: 60vh;
    margin: 0.5rem 0;
    padding: 3rem 0;
    .hero-copy-wrapper {
        .hero-copy {
            font-size: $thfs;
            line-height: 1;
        }
        .hero-intro-copy {
            margin: 0.7rem 0;
            font-size: $tpfs;
        }
    }
    .hero-cta {
        margin: 2rem 0 0.7rem 0;
        .hero-cta-link {
            font-size: $tafs;
            padding: 0.8rem 2rem;
        }
    }
}

//forms
.form-container {
    padding: 20px 60px;
    border-radius: 15px;
    margin: 2rem 0;
    background-color: rgba(179, 217, 255,0.2);
    .intro-note {
        line-height: 1.4;
        margin: 0.6rem 0;
        p {
            font-size: $tpfs;
        }
    }
    
    .form-wrapper {
        .signup , .signin, .activate{
            .fin-wrap {
                width: 100%;
                margin: 0.675rem 0;
                label {
                    font-size: $tpfs;
                }
                .pwd-wrap {
                    display: flex;
                    justify-content: space-between;
                    .fgp {
                        font-size: $tpfs;
                    }
                }
                .fin-wrap-input {
                    padding: 0.7rem 0.7rem;
                    letter-spacing: 0.025;
                    font-size: $tpfs;
                }
            }
            .fbtn-wrap {
                width: 100%;
                margin: 1rem 0;
                .fbtn-wrap-btn {
                    width: auto;
                    padding: 0.9rem 1.5rem;
                }
            }
        }
    }
    
    .twister-box {
        .twister-text {
            font-size: $tpfs;
        }
        .twister-link {
            font-size: $tpfs;
        }
    }
    }
}

@media screen and (min-width: 720px) {
    .hero-wrapper {
    // border: 1px solid red;
    height: 60vh;
    margin: 0.5rem 0;
    padding: 3rem 0;
    .hero-copy-wrapper {
        .hero-copy {
            font-size: $mthfs;
            width: 90%;
            line-height: 1;
        }
        .hero-intro-copy {
            margin: 0.7rem 0;
            font-size: $mtpfs;
            line-height: 1.4;
            width: 80%;
        }
    }
    .hero-cta {
        margin: 2rem 0 0.7rem 0;
        .hero-cta-link {
            font-size: $mtafs;
            padding: 0.8rem 2rem;
            font-weight: 700;
        }
    }
}

.form-container {
    width: 80%;
    padding: 70px 80px;
    height: auto;
    border-radius: 15px;
    margin: 2rem auto;
    background-color: rgba(179, 217, 255,0.2);
    .intro-note {
        line-height: 1.4;
        margin: 0.6rem 0;
        p {
            font-size: $mtpfs;
        }
    }
    
    .form-wrapper {
        .signup , .signin, .activate{
            .fin-wrap {
                width: 100%;
                margin: 0.675rem 0;
                label {
                    font-size: $mtpfs;
                    letter-spacing: 0.025;
                }
                .pwd-wrap {
                    .fgp {
                        font-size: $mtpfs;
                    }
                }
                .fin-wrap-input {
                    padding: 0.7rem 0.7rem;
                    letter-spacing: 0.025;
                    font-size: $mtpfs;
                }
            }
            .fbtn-wrap {
                width: 100%;
                margin: 1rem 0;
                .fbtn-wrap-btn {
                    width: auto;
                    font-weight: 700;
                    font-size: $mtafs;
                    padding: 0.9rem 1.5rem;
                }
            }
        }
    }
    
    .twister-box {
        .twister-text {
            font-size: $mtpfs;
        }
        .twister-link {
            font-size: $mtpfs;
        }
    }
}
}
// laptops, desktops and large screens

@media screen and (min-width: 1024px) {
    // hero container
.hero-wrapper {
    // border: 1px solid red;
    height: 50vh;
    margin: 0.5rem 0;
    padding: 6rem 0;
    .hero-copy-wrapper {
        .hero-copy {
            font-size: $ihfs;
            width: 80%;
            line-height: 1;
        }
        .hero-intro-copy {
            margin: 0.7rem 0;
            font-size: $ipfs;
            line-height: 1.2;
            width: 60%;
        }
    }
    .hero-cta {
        margin: 2rem 0 0.7rem 0;
        .hero-cta-link {
            font-size: $iafs;
            padding: 0.8rem 2rem;
        }
    }
}

.form-container {
    width: 70%;
    padding: 70px 80px;
    height: auto;
    border-radius: 15px;
    margin: 2rem auto;
    background-color: rgba(179, 217, 255,0.2);
    .intro-note {
        line-height: 1.4;
        margin: 0.6rem 0;
        p {
            font-size: $ipfs;
        }
    }
    
    .form-wrapper {
        .signup , .signin, .activate{
            .fin-wrap {
                width: 100%;
                margin: 0.675rem 0;
                label {
                    font-size: $ipfs;
                }
                .pwd-wrap {
                    .fgp {
                        font-size: $ipfs;
                    }
                }
                .fin-wrap-input {
                    padding: 0.7rem 0.7rem;
                    font-size: $ipfs;
                }
            }
            .fbtn-wrap {
                width: 100%;
                margin: 1rem 0;
                .fbtn-wrap-btn {
                    padding: 0.9rem 1.5rem;
                    font-size: $iafs;
                }
            }
        }
    }
    
    .twister-box {
        .twister-text {
            font-size: $ipfs;
        }
        .twister-link {
            font-size: $ipfs;
        }
    }
}

}
@media screen and (min-width: 1366px) {
        // hero container
.hero-wrapper {
    // border: 1px solid red;
    height: 50vh;
    margin: 0.5rem 0;
    padding: 6rem 0;
    .hero-copy-wrapper {
        .hero-copy {
            line-height: 1;
            font-size: $dhfs;
            width: 80%;
        }
        .hero-intro-copy {
            margin: 0.7rem 0;
            font-size: $dpfs;
            font-family: $Sans;
            line-height: 1.2;
            color: #425466;
            font-weight: 300;
            width: 60%;
        }
    }
    .hero-cta {
        margin: 2rem 0 0.7rem 0;
        .hero-cta-link {
            font-size: $dafs;
            padding: 0.8rem 2.5rem;
            font-weight: 700;
            }
        }
    }

    .form-container {
    width: 45%;
    padding: 70px 80px;
    height: auto;
    border-radius: 15px;
    margin: 2rem auto;
    background-color: rgba(179, 217, 255,0.2);
    .intro-note {
        line-height: 1.4;
        margin: 0.6rem 0;
        p {
            font-size: $dpfs;
            font-weight: 500;
            color: $fontColor;
        }
    }
    
    .form-wrapper {
        .signup , .signin, .activate{
            .fin-wrap {
                width: 100%;
                margin: 0.675rem 0;
                label {
                    font-size: $dpfs;
                    color: $fontColor;
                    letter-spacing: 0.025;
                    line-height: 1.4;
                }
                .pwd-wrap {
                    display: flex;
                    justify-content: space-between;
                    .fgp {
                        font-size: $dpfs;
                    }
                }
                .fin-wrap-input {
                    padding: 0.7rem 0.7rem;
                    letter-spacing: 0.025;
                    font-size: $dpfs;
                }
            }
            .fbtn-wrap {
                width: 100%;
                margin: 1rem 0;
                .fbtn-wrap-btn {
                    font-weight: 700;
                    width: auto;
                    font-size: $dafs;
                    padding: 0.8rem 1.5rem;
                }
            }
        }
    }
    
    .twister-box {
        .twister-text {
            font-size: $dpfs;
        }
        .twister-link {
            font-size: $dpfs;
        }
    }
}

}